body {
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.header {
    text-align: center;
    /*color: white;*/
    height: 150px;
    padding-top: 40px;
    
}

.footer {
    text-align: center;
    /*font-family: Comic Sans MS, Comic Sans, cursive;*/
    color: black;
    height: 100px;
    padding-top: 40px;
}

.telo {
    background-color: #6495ED;
    color: white;
    border-radius: 25px;
    /*font-family: Comic Sans MS, Comic Sans, cursive;*/
    padding: 20px;
}


button {
    margin-left: 10px ;
}

